[SERVICE]
    Log_Level info
[INPUT]
    Name            systemd
    Tag             *
    Path            /var/log/journal
    Systemd_Filter    _SYSTEMD_UNIT=consul.service
    Systemd_Filter    _SYSTEMD_UNIT=nomad.service
    Systemd_Filter    _SYSTEMD_UNIT=consul_template.service
    Systemd_Filter    _SYSTEMD_UNIT=vault.service
[Output]
    Name loki
    Match *
    host 10.10.30.125
    line_format json
